<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ConFig</title>
</head>
<body>
    <!-- <h5>pipeline</h5>
    <textarea id="pipeline"></textarea>
    <h5>intents</h5>
    <textarea id="intents"></textarea>
    <h5>responses</h5>
    <textarea id="pipeline"></textarea>
    <h5>nlu</h5>
    <textarea id="nlu"></textarea> -->
    <input id="import_file_train" type="file">
</body>
</html>